storage_bridge_workflow_v1.json
{
  "name": "Arvia Storage Bridge v1.0",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "upload-image",
        "responseMode": "responseNode",
        "options": {
            "binaryData": true
        }
      },
      "name": "Upload Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [100, 300]
    },
    {
      "parameters": {
        "operation": "resize",
        "width": 1200,
        "height": 900,
        "resizeOption": "fill",
        "options": {
          "format": "jpeg",
          "quality": 80
        }
      },
      "name": "Optimizar Imagen",
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [350, 300]
    },
    {
      "parameters": {
        "action": "upload",
        "bucket": "arvia-properties",
        "path": "={{ $node['Upload Webhook'].json.headers['x-filename'] || 'img_' + Date.now() + '.jpg' }}",
        "options": {}
      },
      "name": "Cloud Storage S3",
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 1,
      "position": [600, 300],
      "credentials": {
        "awsS3": {
          "id": "AWS_CRED_ID",
          "name": "AWS S3 / Supabase"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"url\": \"{{ $json.url }}\",\n  \"filename\": \"{{ $json.key }}\"\n}",
        "options": {}
      },
      "name": "Response URL",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Upload Webhook": { "main": [[{ "node": "Optimizar Imagen", "index": 0 }]] },
    "Optimizar Imagen": { "main": [[{ "node": "Cloud Storage S3", "index": 0 }]] },
    "Cloud Storage S3": { "main": [[{ "node": "Response URL", "index": 0 }]] }
  }
}
