web_api_workflow_v4.json
{
  "name": "Arvia Web Dashboard API",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "web-api",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-4a7b-8c9d-e0f1a2b3c4d5",
      "name": "Web API Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [100, 600],
      "webhookId": "a9b0c1d2-e3f4-4a5b-8c7d-e8f9a0b1c2d3"
    },

    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst body = (raw.body && typeof raw.body === 'object') ? raw.body : raw;\n\nconst headers = $input.first().json.headers || {};\nconst apiKey  = headers['x-api-key'] || headers['X-Api-Key'] || '';\nconst validKey = $env.WEB_API_KEY || 'arvia-dev-key-changeme';\nif (apiKey !== validKey) {\n  throw new Error('AUTH_FAILED: API key inválida o ausente.');\n}\n\nconst operation = String(body.operation || 'search');\nconst VALID_OPS = ['search', 'ai_search', 'publish', 'publish_bulk', 'get_property', 'get_stats'];\nif (!VALID_OPS.includes(operation)) {\n  throw new Error('OP_INVALID: Operación desconocida: ' + operation);\n}\n\nconst payload = (body.payload && typeof body.payload === 'object') ? body.payload : {};\n\nreturn [{ json: { operation, payload, source: 'web', requestedAt: new Date().toISOString() } }];"
      },
      "id": "b2c3d4e5-f6a7-4b8c-9d0e-f1a2b3c4d5e6",
      "name": "Extract Web Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 600]
    },

    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "typeValidation": "strict", "version": 2 },
                "conditions": [
                  {
                    "id": "11111111-1111-4111-8111-111111111111",
                    "leftValue": "={{ $json.operation }}",
                    "rightValue": "publish",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": false
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "typeValidation": "strict", "version": 2 },
                "conditions": [
                  {
                    "id": "22222222-2222-4222-8222-222222222222",
                    "leftValue": "={{ $json.operation }}",
                    "rightValue": "ai_search",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": false
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "typeValidation": "strict", "version": 2 },
                "conditions": [
                  {
                    "id": "33333333-3333-4333-8333-333333333333",
                    "leftValue": "={{ $json.operation }}",
                    "rightValue": "publish_bulk",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": false
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "typeValidation": "strict", "version": 2 },
                "conditions": [
                  {
                    "id": "44444444-4444-4444-8444-444444444444",
                    "leftValue": "={{ $json.operation }}",
                    "rightValue": "get_property",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": false
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "typeValidation": "strict", "version": 2 },
                "conditions": [
                  {
                    "id": "55555555-5555-4555-8555-555555555555",
                    "leftValue": "={{ $json.operation }}",
                    "rightValue": "get_stats",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": false
            }
          ]
        },
        "options": {}
      },
      "id": "c3d4e5f6-a7b8-4c9d-ae1f-a2b3c4d5e6f7",
      "name": "Switch API Op",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [500, 600]
    },

    {
      "parameters": {
        "jsCode": "return [{ json: { success: false, error: 'Operación no reconocida', code: 400 } }];"
      },
      "id": "d4e5f6a7-b8c9-4d0e-bf2a-b3c4d5e6f7a8",
      "name": "Op Fallback 400",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 900]
    },

    {
      "parameters": {
        "jsCode": "const p = $input.first().json.payload;\n\nif (!p.title || !p.comuna) throw new Error('VALIDATION: title y comuna son obligatorios.');\nconst price = parseFloat(p.price);\nif (isNaN(price) || price <= 0) throw new Error('VALIDATION: price debe ser mayor a 0.');\n\nreturn [{ json: {\n  title:       String(p.title).slice(0, 255),\n  description: String(p.description || '').slice(0, 2000),\n  price,\n  region:      String(p.region || ''),\n  comuna:      String(p.comuna),\n  address:     String(p.address || ''),\n  bedrooms:    Math.max(0, parseInt(p.bedrooms) || 0),\n  bathrooms:   Math.max(0, parseInt(p.bathrooms) || 0),\n  sqm:         parseFloat(p.sqm) || 0,\n  source_url:  p.source_url ? String(p.source_url) : null,\n  source:      'web_dashboard'\n} }];"
      },
      "id": "e5f6a7b8-c9d0-4e1f-8a3b-c4d5e6f7a8b9",
      "name": "Validar Publish",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 380]
    },

    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO properties (title, description, price, region, comuna, address, bedrooms, bathrooms, sqm, source_url, source)\nVALUES ($1, $2, $3, $4, $5, $6, $7, $8, $9, $10, $11)\nON CONFLICT (source_url) DO UPDATE SET\n  title = EXCLUDED.title,\n  price = EXCLUDED.price,\n  updated_at = NOW()\nRETURNING id, title, price, comuna;",
        "options": {
          "queryParams": "={{ JSON.stringify([$json.title, $json.description, $json.price, $json.region, $json.comuna, $json.address, $json.bedrooms, $json.bathrooms, $json.sqm, $json.source_url, $json.source]) }}"
        }
      },
      "id": "f6a7b8c9-d0e1-4f2a-9b4c-d5e6f7a8b9c0",
      "name": "API Publish Prop",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [900, 380],
      "credentials": { "postgres": { "id": "uZocfuSAUE49pDHV", "name": "Postgres account" } }
    },

    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.payload;\nconst items = Array.isArray(raw.properties) ? raw.properties\n            : Array.isArray(raw) ? raw\n            : [];\n\nif (items.length === 0) throw new Error('BULK_EMPTY: El lote está vacío.');\nif (items.length > 1000) throw new Error('BULK_TOO_LARGE: Máximo 1000 propiedades por lote.');\n\nconst REQUIRED = ['title', 'comuna', 'price'];\nconst valid = [];\nconst skipped = [];\n\nfor (const [i, p] of items.entries()) {\n  const missing = REQUIRED.filter(k => !p[k]);\n  if (missing.length) { skipped.push({ row: i+1, reason: 'Faltan: ' + missing.join(', ') }); continue; }\n  const price = parseFloat(p.price);\n  if (isNaN(price) || price <= 0) { skipped.push({ row: i+1, reason: 'price inválido' }); continue; }\n  valid.push({\n    title:       String(p.title).slice(0, 255),\n    description: String(p.description || '').slice(0, 2000),\n    price,\n    region:      String(p.region || ''),\n    comuna:      String(p.comuna),\n    address:     String(p.address || ''),\n    bedrooms:    Math.max(0, parseInt(p.bedrooms) || 0),\n    bathrooms:   Math.max(0, parseInt(p.bathrooms) || 0),\n    sqm:         parseFloat(p.sqm) || 0,\n    source_url:  p.source_url ? String(p.source_url) : null,\n    source:      'bulk_import'\n  });\n}\n\nif (valid.length === 0) throw new Error('BULK_ALL_INVALID: Ninguna fila pasó la validación.');\n\nreturn valid.map(p => ({ json: p }));"
      },
      "id": "a7b8c9d0-e1f2-4a3b-8c5d-e6f7a8b9c0d1",
      "name": "Extract Bulk Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 600]
    },

    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO properties (title, description, price, region, comuna, address, bedrooms, bathrooms, sqm, source_url, source)\nVALUES ($1, $2, $3, $4, $5, $6, $7, $8, $9, $10, $11)\nON CONFLICT (source_url) DO UPDATE SET\n  title = EXCLUDED.title,\n  price = EXCLUDED.price,\n  updated_at = NOW()\nWHERE properties.source_url IS NOT NULL\nRETURNING id;",
        "options": {
          "queryParams": "={{ JSON.stringify([$json.title, $json.description, $json.price, $json.region, $json.comuna, $json.address, $json.bedrooms, $json.bathrooms, $json.sqm, $json.source_url, $json.source]) }}"
        }
      },
      "id": "b8c9d0e1-f2a3-4b4c-9d6e-f7a8b9c0d1e2",
      "name": "API Bulk Insert",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [900, 600],
      "credentials": { "postgres": { "id": "uZocfuSAUE49pDHV", "name": "Postgres account" } }
    },

    {
      "parameters": {
        "jsCode": "const results = $input.all();\nreturn [{ json: { success: true, inserted: results.length, ids: results.map(r => r.json.id) } }];"
      },
      "id": "c9d0e1f2-a3b4-4c5d-ae7f-a8b9c0d1e2f3",
      "name": "Agregar Resultados Bulk",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 600]
    },

    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  model: 'llama3',\n  system: 'Eres un asistente de búsqueda inmobiliaria chilena. Extrae filtros de búsqueda. Devuelve SOLO JSON: {\"comuna\":string|null,\"bedrooms\":int|null,\"bathrooms\":int|null,\"max_price\":int|null,\"property_type\":\"departamento\"|\"casa\"|null,\"transaction_type\":\"venta\"|\"arriendo\"|null}',\n  prompt: $json.payload.prompt || 'propiedades disponibles',\n  stream: false,\n  options: { temperature: 0.1 }\n}) }}",
        "options": { "timeout": 15000 }
      },
      "id": "d0e1f2a3-b4c5-4d6e-bf8a-b9c0d1e2f3a4",
      "name": "API AI Extract",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 800]
    },

    {
      "parameters": {
        "jsCode": "let raw = '';\ntry { raw = $input.first().json.response || ''; } catch(e) {}\n\nlet filters = {};\ntry {\n  const m = raw.match(/\\{[^{}]*\\}/s);\n  if (m) filters = JSON.parse(m[0]);\n} catch(e) {}\n\nconst result = {\n  comuna:           typeof filters.comuna === 'string'    ? filters.comuna.trim() : null,\n  bedrooms:         Number.isInteger(filters.bedrooms)    ? Math.max(0, filters.bedrooms) : null,\n  bathrooms:        Number.isInteger(filters.bathrooms)   ? Math.max(0, filters.bathrooms) : null,\n  max_price:        typeof filters.max_price === 'number' ? filters.max_price : null,\n  property_type:    ['departamento','casa'].includes(filters.property_type) ? filters.property_type : null,\n  transaction_type: ['venta','arriendo'].includes(filters.transaction_type) ? filters.transaction_type : null\n};\n\nreturn [{ json: { filters: result } }];"
      },
      "id": "e1f2a3b4-c5d6-4e7f-8a9b-c0d1e2f3a4b5",
      "name": "Parse API Filters",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 800]
    },

    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, title, description, price, region, comuna, address,\n       bedrooms, bathrooms, sqm, images, status, property_type, transaction_type, created_at\nFROM properties\nWHERE status = 'published'\n  AND ($1::text IS NULL OR comuna ILIKE '%' || $1 || '%')\n  AND ($2::int  IS NULL OR bedrooms  >= $2)\n  AND ($3::int  IS NULL OR bathrooms >= $3)\n  AND ($4::numeric IS NULL OR price <= $4)\n  AND ($5::text IS NULL OR property_type = $5)\n  AND ($6::text IS NULL OR transaction_type = $6)\nORDER BY created_at DESC\nLIMIT 20;",
        "options": {
          "queryParams": "={{ JSON.stringify([$json.filters.comuna || null, $json.filters.bedrooms || null, $json.filters.bathrooms || null, $json.filters.max_price || null, $json.filters.property_type || null, $json.filters.transaction_type || null]) }}"
        }
      },
      "id": "f2a3b4c5-d6e7-4f8a-9b0c-d1e2f3a4b5c6",
      "name": "API Query Props",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1100, 800],
      "credentials": { "postgres": { "id": "uZocfuSAUE49pDHV", "name": "Postgres account" } }
    },

    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, title, description, price, region, comuna, address,\n       bedrooms, bathrooms, sqm, images, status, property_type, transaction_type, created_at\nFROM properties\nWHERE id = $1 AND status = 'published'\nLIMIT 1;",
        "options": {
          "queryParams": "={{ JSON.stringify([$json.payload.id]) }}"
        }
      },
      "id": "a3b4c5d6-e7f8-4a9b-8c1d-e2f3a4b5c6d7",
      "name": "API Get Property",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [750, 1050],
      "credentials": { "postgres": { "id": "uZocfuSAUE49pDHV", "name": "Postgres account" } }
    },

    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  (SELECT COUNT(*) FROM properties)                          AS \"totalProperties\",\n  (SELECT COUNT(*) FROM properties WHERE status='published') AS \"publishedProperties\",\n  (SELECT COUNT(*) FROM leads)                               AS \"totalLeads\",\n  (SELECT COUNT(*) FROM messages WHERE processed=false)      AS \"pendingMessages\";"
      },
      "id": "b4c5d6e7-f8a9-4b0c-9d2e-f3a4b5c6d7e8",
      "name": "API Get Stats",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [750, 1200],
      "credentials": { "postgres": { "id": "uZocfuSAUE49pDHV", "name": "Postgres account" } }
    },

    {
      "parameters": {
        "jsCode": "const items = $input.all().map(i => i.json);\nconst single = items.length === 1 ? items[0] : null;\nreturn [{ json: {\n  success: true,\n  data: items.length === 1 ? single : items,\n  count: items.length,\n  timestamp: new Date().toISOString()\n} }];"
      },
      "id": "c5d6e7f8-a9b0-4c1d-ae3f-a4b5c6d7e8f9",
      "name": "Format Success Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 700]
    },

    {
      "parameters": {
        "jsCode": "const err = $input.first().json.error || {};\nconst message = typeof err === 'string' ? err : (err.message || 'Error interno del servidor');\nconst isAuth = message.startsWith('AUTH_FAILED');\nconst isVal  = message.startsWith('VALIDATION') || message.startsWith('BULK') || message.startsWith('OP_INVALID');\nconst code   = isAuth ? 403 : isVal ? 400 : 500;\n\nreturn [{ json: {\n  success: false,\n  error: message,\n  code,\n  channel: 'web_api',\n  error_message: message,\n  error_stack: (err.stack || ''),\n  payload: {},\n  timestamp: new Date().toISOString()\n} }];"
      },
      "id": "d6e7f8a9-b0c1-4d2e-bf4a-b5c6d7e8f9a0",
      "name": "Error Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 1350]
    },

    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO errors (channel, error_message, error_stack, payload)\nVALUES ($1, $2, $3, $4::jsonb);",
        "options": {
          "queryParams": "={{ JSON.stringify(['web_api', $json.error_message, $json.error_stack, JSON.stringify({timestamp: $json.timestamp})]) }}"
        }
      },
      "id": "e7f8a9b0-c1d2-4e3f-8a5b-c6d7e8f9a0b1",
      "name": "Log Error DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1100, 1350],
      "credentials": { "postgres": { "id": "uZocfuSAUE49pDHV", "name": "Postgres account" } },
      "continueOnFail": true
    },

    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "responseCode": 200,
        "options": {}
      },
      "id": "f8a9b0c1-d2e3-4f4a-9b6c-d7e8f9a0b1c2",
      "name": "Web API Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1500, 700]
    }
  ],

  "pinData": {},
  "connections": {
    "Web API Trigger": {
      "main": [[{ "node": "Extract Web Data", "type": "main", "index": 0 }]]
    },
    "Extract Web Data": {
      "main": [[{ "node": "Switch API Op", "type": "main", "index": 0 }]]
    },
    "Switch API Op": {
      "main": [
        [{ "node": "Validar Publish",     "type": "main", "index": 0 }],
        [{ "node": "API AI Extract",      "type": "main", "index": 0 }],
        [{ "node": "Extract Bulk Items",  "type": "main", "index": 0 }],
        [{ "node": "API Get Property",    "type": "main", "index": 0 }],
        [{ "node": "API Get Stats",       "type": "main", "index": 0 }],
        [{ "node": "Op Fallback 400",     "type": "main", "index": 0 }]
      ]
    },
    "Validar Publish":        { "main": [[{ "node": "API Publish Prop",         "type": "main", "index": 0 }]] },
    "API Publish Prop":       { "main": [[{ "node": "Format Success Response",  "type": "main", "index": 0 }]] },
    "Extract Bulk Items":     { "main": [[{ "node": "API Bulk Insert",          "type": "main", "index": 0 }]] },
    "API Bulk Insert":        { "main": [[{ "node": "Agregar Resultados Bulk",  "type": "main", "index": 0 }]] },
    "Agregar Resultados Bulk":{ "main": [[{ "node": "Format Success Response",  "type": "main", "index": 0 }]] },
    "API AI Extract":         { "main": [[{ "node": "Parse API Filters",        "type": "main", "index": 0 }]] },
    "Parse API Filters":      { "main": [[{ "node": "API Query Props",          "type": "main", "index": 0 }]] },
    "API Query Props":        { "main": [[{ "node": "Format Success Response",  "type": "main", "index": 0 }]] },
    "API Get Property":       { "main": [[{ "node": "Format Success Response",  "type": "main", "index": 0 }]] },
    "API Get Stats":          { "main": [[{ "node": "Format Success Response",  "type": "main", "index": 0 }]] },
    "Op Fallback 400":        { "main": [[{ "node": "Format Success Response",  "type": "main", "index": 0 }]] },
    "Format Success Response":{ "main": [[{ "node": "Web API Response",         "type": "main", "index": 0 }]] },
    "Error Handler":          { "main": [[{ "node": "Log Error DB",             "type": "main", "index": 0 }]] },
    "Log Error DB":           { "main": [[{ "node": "Web API Response",         "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c1d2e3f4-a5b6-4c7d-8e9f-a0b1c2d3e4f5",
  "meta": {
    "instanceId": "arvia-web-api"
  },
  "tags": []
}
