web_api_workflow_v6.json
{
  "name": "Arvia Web Dashboard API v6",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "web-api",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-4a7b-8c9d-e0f1a2b3c4d5",
      "name": "Web API Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [100, 600],
      "webhookId": "a9b0c1d2-e3f4-4a5b-8c7d-e8f9a0b1c2d3"
    },
    {
      "parameters": {
        "jsCode": "try {\n  const raw = $input.first().json;\n  const body = (raw.body && typeof raw.body === 'object') ? raw.body : raw;\n  const operation = String(body.operation || 'ai_search');\n  const VALID_OPS = ['search','ai_search','publish','publish_bulk','get_property','get_stats'];\n  if (!VALID_OPS.includes(operation)) {\n    return [{ json: { __op: 'error', __error: true, success: false, error: 'Operacion desconocida: ' + operation, code: 400 } }];\n  }\n  const payload = (body.payload && typeof body.payload === 'object') ? body.payload : body;\n  return [{ json: { __op: operation, operation, payload, source: 'web', requestedAt: new Date().toISOString() } }];\n} catch(e) {\n  return [{ json: { __op: 'error', __error: true, success: false, error: e.message, code: 500 } }];\n}"
      },
      "id": "b2c3d4e5-f6a7-4b8c-9d0e-f1a2b3c4d5e6",
      "name": "Extract Web Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 600],
      "continueOnFail": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "typeValidation": "strict", "version": 2 },
                "conditions": [{ "id": "11111111-1111-4111-8111-111111111111", "leftValue": "={{ $json.operation }}", "rightValue": "publish", "operator": { "type": "string", "operation": "equals" } }],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "typeValidation": "strict", "version": 2 },
                "conditions": [{ "id": "22222222-2222-4222-8222-222222222222", "leftValue": "={{ $json.operation }}", "rightValue": "ai_search", "operator": { "type": "string", "operation": "equals" } }],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "typeValidation": "strict", "version": 2 },
                "conditions": [{ "id": "33333333-3333-4333-8333-333333333333", "leftValue": "={{ $json.operation }}", "rightValue": "publish_bulk", "operator": { "type": "string", "operation": "equals" } }],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "typeValidation": "strict", "version": 2 },
                "conditions": [{ "id": "44444444-4444-4444-8444-444444444444", "leftValue": "={{ $json.operation }}", "rightValue": "get_property", "operator": { "type": "string", "operation": "equals" } }],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "typeValidation": "strict", "version": 2 },
                "conditions": [{ "id": "55555555-5555-4555-8555-555555555555", "leftValue": "={{ $json.operation }}", "rightValue": "get_stats", "operator": { "type": "string", "operation": "equals" } }],
                "combinator": "and"
              }
            }
          ]
        },
        "options": { "fallbackOutput": "extra" }
      },
      "id": "c3d4e5f6-a7b8-4c9d-ae1f-a2b3c4d5e6f7",
      "name": "Switch API Op",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [500, 600]
    },
    {
      "parameters": {
        "jsCode": "try {\n  const p = $input.first().json.payload;\n  if (!p || !p.title || !p.comuna) throw new Error('VALIDATION: title y comuna son obligatorios.');\n  const price = parseFloat(p.price);\n  if (isNaN(price) || price <= 0) throw new Error('VALIDATION: price debe ser mayor a 0.');\n  const userId = p.userId || null;\n  return [{ json: { title:String(p.title).slice(0,255), description:String(p.description||'').slice(0,2000), price, region:String(p.region||''), comuna:String(p.comuna), address:String(p.address||''), bedrooms:Math.max(0,parseInt(p.bedrooms)||0), bathrooms:Math.max(0,parseInt(p.bathrooms)||0), sqm:parseFloat(p.sqm)||0, source_url:p.source_url?String(p.source_url):null, source:'web_dashboard', user_id: userId } }];\n} catch(e) {\n  return [{ json: { __error: true, success: false, error: e.message, code: 400 } }];\n}"
      },
      "id": "e5f6a7b8-c9d0-4e1f-8a3b-c4d5e6f7a8b9",
      "name": "Validar Publish",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO properties (title,description,price,region,comuna,address,bedrooms,bathrooms,sqm,source_url,source,user_id) VALUES ($1,$2,$3,$4,$5,$6,$7,$8,$9,$10,$11,$12) ON CONFLICT (source_url) DO UPDATE SET title=EXCLUDED.title,price=EXCLUDED.price,updated_at=NOW() RETURNING id,title,price,comuna;",
        "options": { "queryParams": "={{ JSON.stringify([$json.title,$json.description,$json.price,$json.region,$json.comuna,$json.address,$json.bedrooms,$json.bathrooms,$json.sqm,$json.source_url,$json.source,$json.user_id]) }}" }
      },
      "id": "f6a7b8c9-d0e1-4f2a-9b4c-d5e6f7a8b9c0",
      "name": "API Publish Prop",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1000, 200],
      "continueOnFail": true,
      "credentials": { "postgres": { "id": "uZocfuSAUE49pDHV", "name": "Postgres account" } }
    },
    {
      "parameters": {
        "jsCode": "try {\n  const raw = $input.first().json.payload;\n  const userId = raw.userId || null;\n  const items = Array.isArray(raw.properties) ? raw.properties : Array.isArray(raw) ? raw : [];\n  if (items.length === 0) throw new Error('BULK_EMPTY: El lote esta vacio.');\n  if (items.length > 1000) throw new Error('BULK_TOO_LARGE: Maximo 1000 propiedades.');\n  const REQUIRED = ['title','comuna','price'];\n  const valid = []; const skipped = [];\n  for (const [i,p] of items.entries()) {\n    const missing = REQUIRED.filter(k => !p[k]);\n    if (missing.length) { skipped.push({row:i+1,reason:'Faltan: '+missing.join(', ')}); continue; }\n    const price = parseFloat(p.price);\n    if (isNaN(price)||price<=0) { skipped.push({row:i+1,reason:'price invalido'}); continue; }\n    valid.push({ title:String(p.title).slice(0,255), description:String(p.description||'').slice(0,2000), price, region:String(p.region||''), comuna:String(p.comuna), address:String(p.address||''), bedrooms:Math.max(0,parseInt(p.bedrooms)||0), bathrooms:Math.max(0,parseInt(p.bathrooms)||0), sqm:parseFloat(p.sqm)||0, source_url:p.source_url?String(p.source_url):null, source:'bulk_import', user_id: userId });\n  }\n  if (valid.length === 0) throw new Error('BULK_ALL_INVALID: Ninguna fila paso la validacion. Filas omitidas: ' + JSON.stringify(skipped.slice(0,5)));\n  return valid.map(p => ({ json: p }));\n} catch(e) {\n  return [{ json: { __error: true, success: false, error: e.message, code: 400 } }];\n}"
      },
      "id": "a7b8c9d0-e1f2-4a3b-8c5d-e6f7a8b9c0d1",
      "name": "Extract Bulk Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 450],
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO properties (title,description,price,region,comuna,address,bedrooms,bathrooms,sqm,source_url,source,user_id) VALUES ($1,$2,$3,$4,$5,$6,$7,$8,$9,$10,$11,$12) ON CONFLICT (source_url) DO UPDATE SET title=EXCLUDED.title,price=EXCLUDED.price,updated_at=NOW() WHERE properties.source_url IS NOT NULL RETURNING id;",
        "options": { "queryParams": "={{ JSON.stringify([$json.title,$json.description,$json.price,$json.region,$json.comuna,$json.address,$json.bedrooms,$json.bathrooms,$json.sqm,$json.source_url,$json.source,$json.user_id]) }}" }
      },
      "id": "b8c9d0e1-f2a3-4b4c-9d6e-f7a8b9c0d1e2",
      "name": "API Bulk Insert",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1000, 450],
      "continueOnFail": true,
      "credentials": { "postgres": { "id": "uZocfuSAUE49pDHV", "name": "Postgres account" } }
    },
    {
      "parameters": {
        "jsCode": "const results = $input.all();\nconst errItem = results.find(r => r.json.__error || r.json.error);\nif (errItem) return [{ json: { success: false, error: errItem.json.error || 'Error en bulk insert', code: errItem.json.code || 500 } }];\nreturn [{ json: { success: true, inserted: results.length, ids: results.map(r => r.json.id) } }];"
      },
      "id": "c9d0e1f2-a3b4-4c5d-ae7f-a8b9c0d1e2f3",
      "name": "Agregar Resultados Bulk",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 450],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model:'llama3', system:'Eres un asistente inmobiliario chileno. Extrae filtros. Devuelve SOLO JSON valido: {\"region\":string|null,\"comuna\":string|null,\"bedrooms\":int|null,\"bathrooms\":int|null,\"max_price\":int|null,\"property_type\":\"departamento\"|\"casa\"|null,\"transaction_type\":\"venta\"|\"arriendo\"|null}', prompt:$json.payload.prompt||'propiedades disponibles', stream:false, options:{temperature:0.1} }) }}",
        "options": { "timeout": 15000 }
      },
      "id": "d0e1f2a3-b4c5-4d6e-bf8a-b9c0d1e2f3a4",
      "name": "API AI Extract",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [750, 700],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "let filters = {};\ntry {\n  const raw = ($input.first().json.response || $input.first().json.payload?.prompt || '');\n  const m = raw.match(/\\{[^{}]*\\}/s);\n  if (m) filters = JSON.parse(m[0]);\n} catch(e) {}\nconst userId = $input.first().json.payload?.userId || null;\nreturn [{ json: { filters: { region: typeof filters.region==='string'?filters.region.trim():null, comuna:typeof filters.comuna==='string'?filters.comuna.trim():null, bedrooms:Number.isInteger(filters.bedrooms)?Math.max(0,filters.bedrooms):null, bathrooms:Number.isInteger(filters.bathrooms)?Math.max(0,filters.bathrooms):null, max_price:typeof filters.max_price==='number'?filters.max_price:null, property_type:['departamento','casa'].includes(filters.property_type)?filters.property_type:null, transaction_type:['venta','arriendo'].includes(filters.transaction_type)?filters.transaction_type:null, user_id: userId } } }];"
      },
      "id": "e1f2a3b4-c5d6-4e7f-8a9b-c0d1e2f3a4b5",
      "name": "Parse API Filters",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 700],
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id,title,description,price,region,comuna,address,bedrooms,bathrooms,sqm,images,status,property_type,transaction_type,created_at FROM properties WHERE status='published' AND ($1::text IS NULL OR region ILIKE '%'||$1||'%') AND ($2::text IS NULL OR comuna ILIKE '%'||$2||'%') AND ($3::int IS NULL OR bedrooms>=$3) AND ($4::int IS NULL OR bathrooms>=$4) AND ($5::numeric IS NULL OR price<=$5) AND ($6::text IS NULL OR property_type=$6) AND ($7::text IS NULL OR transaction_type=$7) AND ($8::text IS NULL OR user_id=$8) ORDER BY created_at DESC LIMIT 20;",
        "options": { "queryParams": "={{ JSON.stringify([$json.filters.region||null,$json.filters.comuna||null,$json.filters.bedrooms||null,$json.filters.bathrooms||null,$json.filters.max_price||null,$json.filters.property_type||null,$json.filters.transaction_type||null,$json.filters.user_id||null]) }}" }
      },
      "id": "f2a3b4c5-d6e7-4f8a-9b0c-d1e2f3a4b5c6",
      "name": "API Query Props",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1250, 700],
      "continueOnFail": true,
      "credentials": { "postgres": { "id": "uZocfuSAUE49pDHV", "name": "Postgres account" } }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id,title,description,price,region,comuna,address,bedrooms,bathrooms,sqm,images,status,property_type,transaction_type,created_at FROM properties WHERE id=$1 AND status='published' LIMIT 1;",
        "options": { "queryParams": "={{ JSON.stringify([$json.payload.id]) }}" }
      },
      "id": "a3b4c5d6-e7f8-4a9b-8c1d-e2f3a4b5c6d7",
      "name": "API Get Property",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [750, 950],
      "continueOnFail": true,
      "credentials": { "postgres": { "id": "uZocfuSAUE49pDHV", "name": "Postgres account" } }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT (SELECT COUNT(*) FROM properties) AS \"totalProperties\", (SELECT COUNT(*) FROM properties WHERE status='published') AS \"publishedProperties\", COALESCE((SELECT COUNT(*) FROM leads),0) AS \"totalLeads\", COALESCE((SELECT COUNT(*) FROM messages WHERE processed=false),0) AS \"pendingMessages\";"
      },
      "id": "b4c5d6e7-f8a9-4b0c-9d2e-f3a4b5c6d7e8",
      "name": "API Get Stats",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [750, 1150],
      "continueOnFail": true,
      "credentials": { "postgres": { "id": "uZocfuSAUE49pDHV", "name": "Postgres account" } }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all().map(i => i.json);\nconst errItem = items.find(i => i.__error || (i.error && typeof i.error === 'string' && i.error.length > 0));\nif (errItem) {\n  return [{ json: { success: false, error: errItem.error || 'Error desconocido', code: errItem.code || 500, timestamp: new Date().toISOString() } }];\n}\nconst single = items.length === 1 ? items[0] : null;\nreturn [{ json: { success: true, data: items.length===1 ? single : items, count: items.length, timestamp: new Date().toISOString() } }];"
      },
      "id": "c5d6e7f8-a9b0-4c1d-ae3f-a4b5c6d7e8f9",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 650],
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "responseCode": 200,
        "options": {}
      },
      "id": "f8a9b0c1-d2e3-4f4a-9b6c-d7e8f9a0b1c2",
      "name": "Web API Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1750, 650]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { success: false, error: 'Operacion no reconocida', code: 400 } }];"
      },
      "id": "d4e5f6a7-b8c9-4d0e-bf2a-b3c4d5e6f7a8",
      "name": "Op Fallback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 1350],
      "continueOnFail": true
    }
  ],

  "pinData": {},
  "connections": {
    "Web API Trigger":  { "main": [[{ "node": "Extract Web Data", "type": "main", "index": 0 }]] },
    "Extract Web Data": { "main": [[{ "node": "Switch API Op",    "type": "main", "index": 0 }]] },
    "Switch API Op": {
      "main": [
        [{ "node": "Validar Publish",   "type": "main", "index": 0 }],
        [{ "node": "API AI Extract",    "type": "main", "index": 0 }],
        [{ "node": "Extract Bulk Items","type": "main", "index": 0 }],
        [{ "node": "API Get Property",  "type": "main", "index": 0 }],
        [{ "node": "API Get Stats",     "type": "main", "index": 0 }],
        [{ "node": "Op Fallback",       "type": "main", "index": 0 }]
      ]
    },
    "Validar Publish":        { "main": [[{ "node": "API Publish Prop",       "type": "main", "index": 0 }]] },
    "API Publish Prop":       { "main": [[{ "node": "Format Response",        "type": "main", "index": 0 }]] },
    "Extract Bulk Items":     { "main": [[{ "node": "API Bulk Insert",        "type": "main", "index": 0 }]] },
    "API Bulk Insert":        { "main": [[{ "node": "Agregar Resultados Bulk","type": "main", "index": 0 }]] },
    "Agregar Resultados Bulk":{ "main": [[{ "node": "Format Response",        "type": "main", "index": 0 }]] },
    "API AI Extract":         { "main": [[{ "node": "Parse API Filters",      "type": "main", "index": 0 }]] },
    "Parse API Filters":      { "main": [[{ "node": "API Query Props",        "type": "main", "index": 0 }]] },
    "API Query Props":        { "main": [[{ "node": "Format Response",        "type": "main", "index": 0 }]] },
    "API Get Property":       { "main": [[{ "node": "Format Response",        "type": "main", "index": 0 }]] },
    "API Get Stats":          { "main": [[{ "node": "Format Response",        "type": "main", "index": 0 }]] },
    "Op Fallback":            { "main": [[{ "node": "Format Response",        "type": "main", "index": 0 }]] },
    "Format Response":        { "main": [[{ "node": "Web API Response",       "type": "main", "index": 0 }]] }
  },
  "active": true,
  "settings": { "executionOrder": "v1" },
  "versionId": "e3f4a5b6-c7d8-4e9f-af1b-c2d3e4f5a6b7",
  "meta": { "instanceId": "arvia-web-api-v6" },
  "tags": []
}
