workflows/04_webform_adapter.json
{
  "name": "04 - Webform Adapter",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "initcore/webform",
        "responseMode": "responseNode",
        "options": {
          "rawBody": false,
          "allowedOrigins": "https://miweb.com,https://www.miweb.com"
        }
      },
      "id": "wh-webform-entry",
      "name": "Webhook Webform",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        220,
        320
      ],
      "webhookId": "initcore-webform-v1"
    },
    {
      "parameters": {
        "url": "https://www.google.com/recaptcha/api/siteverify",
        "sendQuery": false,
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "secret",
              "value": "={{ $env.RECAPTCHA_SECRET }}"
            },
            {
              "name": "response",
              "value": "={{ $json.body.captcha_token }}"
            }
          ]
        },
        "options": {
          "timeout": 5000
        }
      },
      "id": "http-verify-captcha",
      "name": "Verificar reCAPTCHA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        460,
        320
      ]
    },
    {
      "parameters": {
        "functionCode": "// Verifica respuesta de Google reCAPTCHA y decide si continuar\nconst captchaRes = $input.first().json;\nconst originalBody = $('Webhook Webform').first().json.body || {};\nif (!captchaRes.success || (captchaRes.score !== undefined && captchaRes.score < 0.5)) {\n  return [{ json: { valid: false, reason: 'reCAPTCHA falló o score bajo', status: 'rejected', score: captchaRes.score } }];\n}\n\n// Validación mínima de campos obligatorios\nif (!originalBody.message || !originalBody.message.trim()) {\n  return [{ json: { valid: false, reason: 'Mensaje vacío', status: 'rejected' } }];\n}\n\nreturn [{ json: { valid: true, body: originalBody } }];"
      },
      "id": "fn-validate-webform",
      "name": "Validar captcha + campos",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        700,
        320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.valid }}",
              "value2": true
            }
          ]
        }
      },
      "id": "if-valid",
      "name": "¿Válido?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        940,
        320
      ]
    },
    {
      "parameters": {
        "functionCode": "\nconst crypto = require('crypto');\nconst sha256 = s => crypto.createHash('sha256').update(String(s),'utf-8').digest('hex');\nconst stripHtml = html => !html ? '' : String(html)\n  .replace(/<script[\\s\\S]*?<\\/script>/gi,'')\n  .replace(/<style[\\s\\S]*?<\\/style>/gi,'')\n  .replace(/<\\/?[^>]+>/g,'')\n  .replace(/&nbsp;/gi,' ').replace(/&amp;/gi,'&').replace(/&lt;/gi,'<')\n  .replace(/&gt;/gi,'>').replace(/&quot;/gi,'\"').replace(/&#39;|&apos;/gi,\"'\")\n  .replace(/\\s+/g,' ').trim();\nconst normForHash = t => (t||'').toLowerCase().normalize('NFD').replace(/[\\u0300-\\u036f]/g,'').replace(/[^\\p{L}\\p{N}]+/gu,' ').replace(/\\s+/g,' ').trim();\n\n// Extrae y normaliza payload de webform a formato InitCore\nconst b = $input.first().json.body;\nconst text = (b.message || '').toString().substring(0, 5000);\nconst email = (b.email || '').trim();\nconst phone = (b.phone || '').trim();\nconst identifier = email || phone || `form-anon-${Date.now()}`;\n\nconst payload = {\n  channel: 'webform',\n  message: { text, media: [] },\n  timestamp: new Date().toISOString(),\n  context: {\n    name: (b.name || '').trim(),\n    email,\n    phone,\n    language: (b.language || '').toLowerCase()\n  },\n  metadata: {\n    source: 'webform_adapter',\n    adapter_version: '1.0.0',\n    form_id: b._form_id || 'unknown',\n    page_url: b._page_url || '',\n    subject: b.subject || '',\n    user_agent: b._user_agent || '',\n    ip: b._ip || ''\n  },\n  status: 'pending',\n  _user_identifier: identifier\n};\nconst message_id = crypto.randomUUID();\nconst sender_id = sha256(payload.channel + ':' + payload._user_identifier);\nconst cleanText = stripHtml(payload.message?.text || '');\nconst mediaFingerprint = (payload.message?.media||[]).map(m => m.url || m.file_id || '').join('|');\nconst hashKey = normForHash(cleanText);\nconst hash = sha256(payload.channel + ':' + sender_id + ':' + (hashKey || mediaFingerprint || message_id));\n\n// Flatten out the response so it is easy to persist to messages table, AND hold the 5 fields\nconst newPayload = {\n  channel: payload.channel,\n  message_id: message_id,\n  sender_id: sender_id,\n  user_id: sender_id, // keep it around for the messages table insert\n  text: cleanText,\n  hash: hash,\n  media: payload.message?.media || [],\n  ts: payload.timestamp || new Date().toISOString(),\n  context: payload.context || {},\n  metadata: payload.metadata || {}\n};\n\nreturn [{ json: newPayload }];\n"
      },
      "id": "fn-extract-webform",
      "name": "Extraer datos Webform",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1180,
        240
      ]
    },
    {
      "parameters": {
        "workflowId": "={{ $env.CORE_NORMALIZATION_WORKFLOW_ID }}",
        "options": {
          "waitForExecution": true
        }
      },
      "id": "exec-core",
      "name": "Ejecutar core_normalization",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1840,
        240
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\":\"accepted\",\"message_id\":\"{{ $json.message_id || '' }}\",\"channel\":\"webform\"}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-ok",
      "name": "Responder 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2060,
        240
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\":\"rejected\",\"reason\":\"{{ $json.reason }}\"}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "respond-400",
      "name": "Responder 400",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1180,
        420
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "messages",
        "columns": "message_id, user_id, channel, text, media, ts, context, metadata",
        "additionalFields": {}
      },
      "id": "exec-core_pg_meta",
      "name": "Guardar Metadata Adapter",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1400,
        240
      ],
      "credentials": {
        "postgres": {
          "id": "initcore-postgres",
          "name": "InitCore PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const p = $input.first().json;\\nreturn [{ json: { channel: p.channel, message_id: p.message_id, sender_id: p.sender_id, text: p.text, hash: p.hash } }];"
      },
      "id": "exec-core_format_core",
      "name": "Formatear payload Core",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1620,
        240
      ]
    }
  ],
  "connections": {
    "Webhook Webform": {
      "main": [
        [
          {
            "node": "Verificar reCAPTCHA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar reCAPTCHA": {
      "main": [
        [
          {
            "node": "Validar captcha + campos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar captcha + campos": {
      "main": [
        [
          {
            "node": "¿Válido?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Válido?": {
      "main": [
        [
          {
            "node": "Extraer datos Webform",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder 400",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer datos Webform": {
      "main": [
        [
          {
            "node": "Guardar Metadata Adapter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ejecutar core_normalization": {
      "main": [
        [
          {
            "node": "Responder 200 OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Metadata Adapter": {
      "main": [
        [
          {
            "node": "Formatear payload Core",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear payload Core": {
      "main": [
        [
          {
            "node": "Ejecutar core_normalization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all"
  },
  "versionId": "1.0.0",
  "meta": {
    "description": "InitCore v1.0 — Adapter Webform genérico. CORS configurado, verifica reCAPTCHA y valida campos obligatorios antes de normalizar."
  },
  "id": "initcore-04-webform",
  "tags": [
    {
      "name": "initcore"
    },
    {
      "name": "adapter"
    },
    {
      "name": "webform"
    }
  ]
}