workflows/99_metrics_aggregator.json
{
  "name": "99 - Metrics Aggregator (cron 60s)",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "minutes", "minutesInterval": 1 }] }
      },
      "id": "trigger-cron",
      "name": "Cron 60s",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [220, 320]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT channel, COUNT(*) AS total, COUNT(*) FILTER (WHERE status='processed') AS processed, COUNT(*) FILTER (WHERE status='failed') AS failed, COUNT(*) FILTER (WHERE status='pending') AS pending, COUNT(*) FILTER (WHERE status='duplicate_24h_skipped') AS duplicates FROM messages WHERE created_at > NOW() - INTERVAL '1 minute' GROUP BY channel;",
        "options": {}
      },
      "id": "pg-agg-1m",
      "name": "Agregar último minuto",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [460, 320],
      "credentials": {
        "postgres": { "id": "initcore-postgres", "name": "InitCore PostgreSQL" }
      }
    },
    {
      "parameters": {
        "functionCode": "// Convierte cada fila de agregación en varias filas de metrics\nconst rows = $input.all().map(i => i.json);\nconst out = [];\nfor (const row of rows) {\n  const baseDim = { channel: row.channel };\n  for (const metric of ['total', 'processed', 'failed', 'pending', 'duplicates']) {\n    out.push({ json: {\n      channel: row.channel,\n      metric_name: `messages_per_minute.${metric}`,\n      metric_value: Number(row[metric] || 0),\n      dimensions: JSON.stringify(baseDim)\n    }});\n  }\n}\nreturn out;"
      },
      "id": "fn-explode",
      "name": "Explotar métricas",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [700, 320]
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "metrics",
        "columns": "channel, metric_name, metric_value, dimensions",
        "additionalFields": {}
      },
      "id": "pg-insert-metrics",
      "name": "Insertar en metrics",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [940, 320],
      "credentials": {
        "postgres": { "id": "initcore-postgres", "name": "InitCore PostgreSQL" }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT fn_purge_old_hashes() AS purged;",
        "options": {}
      },
      "id": "pg-purge-hashes",
      "name": "Purgar hashes >48h",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1180, 320],
      "credentials": {
        "postgres": { "id": "initcore-postgres", "name": "InitCore PostgreSQL" }
      }
    }
  ],
  "connections": {
    "Cron 60s": { "main": [[{ "node": "Agregar último minuto", "type": "main", "index": 0 }]] },
    "Agregar último minuto": { "main": [[{ "node": "Explotar métricas", "type": "main", "index": 0 }]] },
    "Explotar métricas": { "main": [[{ "node": "Insertar en metrics", "type": "main", "index": 0 }]] },
    "Insertar en metrics": { "main": [[{ "node": "Purgar hashes >48h", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "1.0.0",
  "meta": { "description": "InitCore v1.0 — Agregador de métricas. Cada 60s resume mensajes del último minuto por canal y los guarda en la tabla metrics. También purga hashes >48h." },
  "id": "initcore-99-metrics",
  "tags": [{ "name": "initcore" }, { "name": "metrics" }]
}
