workflows/real_estate_feature.json
{
  "name": "InitCore Real Estate Extension",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "real-estate-test",
        "options": {}
      },
      "id": "trigger",
      "name": "Webhook (Simula Telegram)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "const crypto = require('crypto');\nconst text = $input.first().json.body?.message?.text || $input.first().json.text || 'departamento en viña';\nconst sender_id = 'user123';\nconst message_id = crypto.randomUUID();\nconst hash = crypto.createHash('sha256').update(text + sender_id).digest('hex');\n\nreturn [{ json: { channel: 'telegram', message_id, sender_id, text: text, hash: hash } }];"
      },
      "id": "adapter",
      "name": "Adapter & Normalizer",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO initcore_messages (hash, channel, message_id, sender_id, text, status) VALUES ($1, $2, $3, $4, $5, 'processing') ON CONFLICT (hash) DO NOTHING RETURNING id;",
        "additionalFields": {
          "queryParams": "={{ $json.hash }},={{ $json.channel }},={{ $json.message_id }},={{ $json.sender_id }},={{ $json.text }}"
        }
      },
      "id": "db_insert",
      "name": "Insert initcore_messages",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        400,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "initcore-postgres",
          "name": "InitCore PostgreSQL"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "functionCode": "const msg = $('Adapter & Normalizer').item.json;\nlet intent = 'other';\nif (msg.text.match(/departamento|casa|viña|serena|propiedad|comprar|arrendar/i)) {\n  intent = 'consulta_propiedad';\n}\nreturn [{ json: { ...msg, intent } }];"
      },
      "id": "intent_detection",
      "name": "Intent Detection",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        600,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.intent }}",
              "operation": "equal",
              "value2": "consulta_propiedad"
            }
          ]
        }
      },
      "id": "if_intent",
      "name": "IF consulta_propiedad",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        800,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM properties WHERE $1 ILIKE '%' || comuna || '%' LIMIT 1;",
        "additionalFields": {
          "queryParams": "={{ $json.text }}"
        }
      },
      "id": "db_select",
      "name": "Select Property",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1000,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "initcore-postgres",
          "name": "InitCore PostgreSQL"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "functionCode": "const prop = $input.first().json;\nif (!prop || !prop.id) {\n  return [{ json: { text: 'Lo siento, no encontré propiedades en esa zona por el momento. ¿Buscas en otra ciudad?' } }];\n}\n\n// Formato WhatsApp\nconst precioFormateado = '$' + Number(prop.price).toLocaleString('es-CL');\nconst texto = `Hola 👋 encontré esto para ti:\\n\\n🏠 ${prop.title}\\n💰 ${precioFormateado}\\n🛏 ${prop.bedrooms} habitaciones\\n📍 ${prop.comuna}\\n\\n¿Quieres más información o agendar visita?`;\n\nreturn [{ json: { text: texto, property_id: prop.id } }];"
      },
      "id": "format_response",
      "name": "Response Formatter",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1200,
        200
      ]
    },
    {
      "parameters": {
        "functionCode": "return [{ json: { text: 'Entendido. Por favor, realiza una consulta válida para que pueda ayudarte.' } }];"
      },
      "id": "fallback",
      "name": "Fallback Defaults",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1000,
        400
      ]
    }
  ],
  "connections": {
    "Webhook (Simula Telegram)": {
      "main": [
        [
          {
            "node": "Adapter & Normalizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adapter & Normalizer": {
      "main": [
        [
          {
            "node": "Insert initcore_messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert initcore_messages": {
      "main": [
        [
          {
            "node": "Intent Detection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intent Detection": {
      "main": [
        [
          {
            "node": "IF consulta_propiedad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF consulta_propiedad": {
      "main": [
        [
          {
            "node": "Select Property",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fallback Defaults",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Property": {
      "main": [
        [
          {
            "node": "Response Formatter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}